* {
    margin: 0;
    padding: 0;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(11fr);
    grid-template-areas: 
    "titulo titulo titulo titulo titulo recursos recursos recomendados recomendados alumnos alumnos"
    ;
    background-color: rgba(0, 0, 0, 0.096);
}
.titulo{
    grid-area: titulo;
    margin: 15px;
}
.alumnos{
    grid-area: alumnos;
    margin: 15px;
}
.recomendados{
    grid-area: recomendados;
    margin: 15px;
}
.recursos{
    grid-area: recursos;
    margin: 15px;
}
.navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.margenes15 {
    margin-left: 15px;
    margin-right: 15px;
}

.nolista {
    list-style-type: none;
}

.main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "somos somos somos objetivos objetivos"
    "somos somos somos objetivos objetivos"
    "somos somos somos objetivos objetivos"
    "galeria galeria galeria galeria galeria"
    "galeria galeria galeria galeria galeria"
    ;
    font-family: 'Raleway', sans-serif;
}
.somos {
    grid-area: somos;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.lorem{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    margin: 25px;
    text-align:center;
}
.objetivos {
    grid-area: objetivos;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.lorem2{
    display: flex;
    border: solid 3px black;
    margin: 25px;
    height: 25%; width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.objetivost{
    margin: 15px;
}
.galeria{
    grid-area: galeria;
    background-color: aquamarine;
}
.contacto {
    grid-area: contacto;
    background-color: brown;
}