* {
  margin: 0;
  padding: 0; }

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(13fr);
  grid-template-areas: "titulo titulo titulo titulo titulo home home recursos recursos recomendados recomendados alumnos alumnos";
  background-color: rgba(214, 195, 164, 0.747);
  color: #003B4A; }

.titulonav {
  grid-area: titulo;
  margin: 15px;
  align-items: center;
  justify-content: center; }

.home {
  grid-area: home;
  margin: 15px;
  align-items: center;
  justify-content: center; }

.alumnos {
  grid-area: alumnos;
  margin: 15px;
  align-items: center;
  justify-content: center; }

.recomendados {
  grid-area: recomendados;
  margin: 15px;
  align-items: center;
  justify-content: center; }

.recursos {
  grid-area: recursos;
  margin: 15px;
  align-items: center;
  justify-content: center; }

.navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }

.nolista {
  list-style-type: none; }

.maini {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "objetivos objetivos objetivos" "objetivos objetivos objetivos";
  font-family: 'Raleway', sans-serif; }

.objetivos {
  grid-area: objetivos;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline; }

.titulo {
  grid-area: titulo;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.maina {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "videos videos videos videos videos videos" "map map map map map map";
  margin: 15px; }

.videos {
  grid-area: videos;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 25px; }

.map {
  grid-area: map;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

@media (max-width: 768px) {
  .maini {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "titulo titulo titulo" "objetivo objetivos" "objetivos objetvios" "objetivos objetvios"; }
  .maina {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "vtitulos vtitulos" "videos videos" "videos videos" "videos videos" "videos videos" "mtitulos mtitulos" "map map" "map map" "imagenesa imagenesa" "imagenesa imagenesa"; } }

/**mobile**/
@media (max-width: 576px) {
  .maini {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "somos somos" "somos somos" "objetivo objetivos" "objetivos objetvios" "galeria galeria" "galeria galeria"; }
  .maina {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "vtitulos vtitulos" "videos videos" "videos videos" "videos videos" "videos videos" "mtitulos mtitulos" "map map" "map map" "imagenesa imagenesa" "imagenesa imagenesa"; } }
