@import "./base/reset";
@import "./components/header";
@import "./layout/grids";
@import "./layout/medias";
@import "./components/cards";

.imagenr{
    max-width: 750px;
    max-height: 300px;
    margin: 15px;
};