.maini {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "titulo titulo titulo titulo"
        "container container container"
        "container container container"
        "texto texto texto"
    ;
    font-family: 'Raleway', sans-serif;
}
.container {
    grid-area: container;
};
.titulo{
    grid-area: titulo;
};
.texto{
    grid-area: texto;
};
.mainr{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "titulor titulor titulor titulor"
    "imagenre imagenre imagenre imagenre"
    "textor textor textor textor"
    "textor textor textor textor"
    ;
};
.titulor{
    grid-area: titulor;
};
.imagenre{
    grid-area: imagenre;
};
.textor{
    grid-area: textor;
};