.maini {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "container container container"
        "container container container"
        "container container container"
        "texto texto texto"
    ;
    font-family: 'Raleway', sans-serif;
}
.container {
    grid-area: container;
};
.titulo{
    grid-area: titulo;
};
.texto{
    grid-area: texto;
};
